<a href="https://colab.research.google.com/github/Willcmorais/Estudos-em-python/blob/main/python_inicio_10_07_25(Udemy).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ESTUDANDO PYTHON PELO CURSO PYTHON PARA ANÁLISE DE DADOS DA UDEMY**

1º OPERADORES MATEMÁTICOS

- Linha 12: pula uma linha só com a vírgula

In [46]:
print('*----* OPERADORES MATEMÁTICOS *----*\n')

soma = 9 + 7
subtracao = 10 - 2
divisao = 5 / 3
multiplicacao = 5 * 9
resto_divisao = 5 % 2
piso_divisao = 85 // 5

print('Três formas distintas de se dar o print em algum valor')
print('Resultado da soma: {}'.format(soma))
print('Resultado da subtração:',subtracao)
print(f'Resultado da multiplicação: {multiplicacao}')
print(f'Resultado da divisão: {divisao}')
print('Resultado do resto da divisão:',resto_divisao)
print('Resultado do piso da divisão: {}'.format(piso_divisao))

*----* OPERADORES MATEMÁTICOS *----*

Três formas distintas de se dar o print em algum valor
Resultado da soma: 16
Resultado da subtração: 8
Resultado da multiplicação: 45
Resultado da divisão: 1.6666666666666667
Resultado do resto da divisão: 1
Resultado do piso da divisão: 17

2º VARIÁVEIS E TIPOS DE VARIÁVEIS


- Linha 04: O str é utilizado para que forcemos o que aparecer a ser do tipo string. Útil para quando queremos juntar números a textos.

In [52]:
print('==== VARIÁVEIS ====\n')

var_texto = ('Qualquer coisa')
var_int = str (2576)
var_int1 = int (2222)
var_float = float (2.5)
var_bool = False
var_bool2 = True

print('Tipo da variável var_texto é livre e no momento é uma ',type(var_texto))
print('O valor {} está sendo atribuído à variável var_int. E está sendo forçada a ser uma {} mesmo sendo um número inteiro.'.format(var_int,type(var_int)))
print(f'A variável {var_int1} é do tipo {type(var_int1)}')
print(f'A variável float tem o valor {var_float}. Ela é do tipo {type(var_float)}, já anteriormente especificada.')
print(f'O usuário pagou a conta? {var_bool}')
print(f'O usuário pagou a conta? {var_bool2}')

==== VARIÁVEIS ====

Tipo da variável var_texto é livre e no momento é uma  <class 'str'>
O valor 2576 está sendo atribuído à variável var_int. E está sendo forçada a ser uma <class 'str'> mesmo sendo um número inteiro.
A variável 2222 é do tipo <class 'int'>
A variável float tem o valor 2.5. Ela é do tipo <class 'float'>, já anteriormente especificada.
O usuário pagou a conta? False
O usuário pagou a conta? True

3º TIPOS DE DADOS

- LISTAS: Armazenamento de sequência de dados.

Linha 03: Podemos passar cadeias de valores para as listas

- TUPLAS: Após criadas não podem ser mudadas

In [154]:
print('=.=.=. TIPOS DE DADOS .=.=.=\n')

lista_ex01 = [0,1,2,3,4,5,6,7,8]
lista_02 = ['Matheus', 'júnior', 'Adalberto', 'Mariá', 'Antônia']
lista_03 = ['Jorge Aragão Neto', 19, 'Brasileiro', ['Maringá','Itapissuma','Guaratinguetá'], 'Solteiro', 1555.48, True]

print('- MOSTRANDO AS LISTAS:\n')

print('Lista 01:',lista_ex01,'\n')
print('Lista 02: {}'.format(lista_02),'\n')
print('Lista 03:\n Nome: {}\n Idade: {}\n Nacionalidade: {}\n Residiu em: {}\n Estado Civil: {}\n Salário: {}\n Pagamento: {}\n'.format(lista_03[0],lista_03[1],lista_03[2],lista_03[3],lista_03[4],lista_03[5],lista_03[6]))

print('- MOSTRANDO AS TUPLAS (TUPLAS SÃO IMUTÁVEIS!!):\n')

tupla_ex01 = ('João Goulart da Silva', 38, 'Brasileiro', ('Boa vista','Itapissuma','Goiania'), 'Casado', 9800, False)

print('Tupla 01:\n Nome: {}\n Idade: {}\n Nacionalidade: {}\n Residiu em: {}\n Estado Civil: {}\n Salário: {}\n Pagamento: {}\n'.format(tupla_ex01[0],tupla_ex01[1],tupla_ex01[2],tupla_ex01[3],tupla_ex01[4],tupla_ex01[5],tupla_ex01[6]))

print('- MOSTRANDO OS DICIONÁRIOS:\n')

dicionario_ex01 = {
    'index': 'valor',
    'id': 1,
    'nome': 'Matheus',
    'lista': lista_03,
    'tupla': tupla_ex01
}

print('Index: {}\n Id: {}\n Nome: {}\n Lista: {}\n Tupla: {}\n'.format(dicionario_ex01['index'],dicionario_ex01['id'],dicionario_ex01['nome'],dicionario_ex01['lista'],dicionario_ex01['tupla']))

=.=.=. TIPOS DE DADOS .=.=.=

- MOSTRANDO AS LISTAS:

Lista 01: [0, 1, 2, 3, 4, 5, 6, 7, 8]

Lista 02: ['Matheus', 'júnior', 'Adalberto', 'Mariá', 'Antônia']

Lista 03:
 Nome: Jorge Aragão Neto
 Idade: 19
 Nacionalidade: Brasileiro
 Residiu em: ['Maringá', 'Itapissuma', 'Guaratinguetá']
 Estado Civil: Solteiro
 Salário: 1555.48
 Pagamento: True

- MOSTRANDO AS TUPLAS (TUPLAS SÃO IMUTÁVEIS!!):

Tupla 01:
 Nome: João Goulart da Silva
 Idade: 38
 Nacionalidade: Brasileiro
 Residiu em: ('Boa vista', 'Itapissuma', 'Goiania')
 Estado Civil: Casado
 Salário: 9800
 Pagamento: False

- MOSTRANDO OS DICIONÁRIOS:

Index: valor
 Id: 1
 Nome: Matheus
 Lista: ['Jorge Aragão Neto', 19, 'Brasileiro', ['Maringá', 'Itapissuma', 'Guaratinguetá'], 'Solteiro', 1555.48, True]
 Tupla: ('João Goulart da Silva', 38, 'Brasileiro', ('Boa vista', 'Itapissuma', 'Goiania'), 'Casado', 9800, False)

4º NOMEAÇÃO DE VARIÁVEIS

- Linha 04: Colocando um valor distinto para cada variável.
- Linha 08: Colocando o mesmo valor para variáveis diferentes.
- Linha 13: Criamos uma lista e atribuímos 5 valores.
- Linha 14: Atribuímos às 5 variáveis os valores da lista criada.
- Linha 16: Nós chamamos a lista de acordo com a marca disponível.
- Linha 23: Precisa ser convertido para str para mostrar

In [153]:
print('-.-.- NOMEAÇÃO DE VARIÁVEIS -.-.-\n')

print('DISPONÍVEL\n')
laranja, melao, limao = 32, 22, 67
print(f' Quantidade de laranjas: {laranja}\n Quantidade de Melões: {melao}\n Quantidade de Limões: {limao}\n')

print('VALORES(R$/KG)\n')
morango = mamao = banana = 5.50
print(' Morango(R$/KG): {}\n Mamão(R$/KG): {}\n Banana(R$/KG): {}\n'.format(morango,mamao,banana))

print('VALORES POR LISTAS\n')

lista_carros01 = ['VW', 'FORD', 'CITROEN', 'FIAT', 'CHEVROLET']
marca01, marca02, marca03, marca04, marca05 = lista_carros01

print('Concessionária Boa Viagem (Disponibilidade): ',marca01, marca02, marca03, marca04)
print('Concessionária Paulista (Disponibilidade): ',marca04, marca05)

print('\nVALORES COMBINADOS DE VARIÁVEIS\n')

proprietario = 'William'
sobrenome = 'Morais'
idade = str(28)
nome_completo = proprietario + ' ' + sobrenome

print('Proprietário da Concessionária: ',nome_completo + ', ' + idade)

-.-.- NOMEAÇÃO DE VARIÁVEIS -.-.-

DISPONÍVEL

 Quantidade de laranjas: 32
 Quantidade de Melões: 22
 Quantidade de Limões: 67

VALORES(R$/KG)

 Morango(R$/KG): 5.5
 Mamão(R$/KG): 5.5
 Banana(R$/KG): 5.5

VALORES POR LISTAS

Concessionária Boa Viagem (Disponibilidade):  VW FORD CITROEN FIAT
Concessionária Paulista (Disponibilidade):  FIAT CHEVROLET

VALORES COMBINADOS DE VARIÁVEIS

Proprietário da Concessionária:  William Morais, 28

5º TIPO DE INFORMAÇÃO
- Text Type: str
---
- Numeric Types: int, float, complex
---
- Sequence Types: list, tuple, range
---
- Mapping Type: dict
---
- Set Types: set, frozenset
---
- Boolean Type: bool
---
- Binary Types: bytes, bytearray, memoryview
---

In [163]:
frase = str ('Olá pessoal!')
num_int = int (58)
num_float = float (100.5)
complexo = complex (1j)
lista01 = list (['João', 'Maria', 'José'])
tupla01 = tuple (('A', 'B'))
range01 = range(6)
dicionario = dict (nome ='William', age = 28)
setup = set(('A', 'B', 'C'))
frozen = frozenset(('A', 'B', 'C'))
booleano = bool (5)
bytes01 = bytes (5)
byte_array = bytearray (5)
memory_view = memoryview (bytes(5))

TypeError: 'range' object is not callable